<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="font-family:arial;height:100vh;text-align:center;background: no-repeat linear-gradient(black, #38618C 100%) ">
    <h1 style="padding-top:200px;color:#E6C53B;"> Welcome To Grow Star Wars </h1>
    <div style="display:flex;flex-direction:column;justify-content:space-around; align-items:center">
      <div style="text-align:center; color:white">
        <h2>Click Any Enpoint Below</h2>
        <h3><a style="color:white" href='http://growstarwars.azurewebsites.net/character/luke'>/character/:name <span style="font-size:12px">(Add any name to the end of the URL)</span></a></h3>
        <h3><a style="color:white" href='http://growstarwars.azurewebsites.net/characters?sort=name'>/characters <span style="font-size:12px">(Sort By Name, Height or Mass)</span></a></h3>
        <h3><a style="color:white" href='http://growstarwars.azurewebsites.net/planetresidents'>/planetresidents</a></h3>
      <hr>
        <h2>Created By Jeff Chapman</h2>
        <h3><a target="_blank" style="color:white" href='https://github.com/ChapmanJeff/node-exercise'>Github Repo</a></h3>
        <h3><a target="_blank" style="color:white" href='http://chapmanjeff.github.io/portfolio'>Portfolio</a></h3>
        <h3><a target="_blank" style="color:white" href='http://linkedin.com/in/chapmanjeffrey'>LinkedIn</a></h3>
      </div>
    </div>
  </body>
</html>
